body, h2{
    margin: 0;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
}

header, footer {
    background-color: rgb(219, 222, 230);
}

header img, nav {
    display: inline-block;
    height: 50px;
}

nav {
    float: right;
    padding: 20px;
}

nav a {
    padding: 0 10px;
    color: red;
}

.yamahaPhoto {
    height: 400px;
       background-image: url("images/bike-rider.jpg");
    background-size: cover;
    background-position: center;
}
h2 {
    background-color: rgba(240, 52, 52, 0.5);
    width: 220px;
    padding: 10px 5px;

}
h3 {
    color: red;
}

.p-relative {
    position: relative;
}
.right-down {
    position: absolute;
    top: 300px;
    right: 0;
}
.card {
    background-color: rgb(243, 246, 248);
width: 24.5%;

    text-align: center;
    display: inline-block;

}
.card img {
    max-width: 100%;
}

form input, textarea {
    display: inline-block;
width: 100%;
margin: 8px 0;
box-sizing: border-box;}

.formButton {
    border: 3px solid red;
    padding: 10px;
    width: 150px;
}
form, iframe {
    display: inline-block;
    width: 49%;
    margin-bottom:  20px;
}

iframe {height: 305px;
margin-left: 10px}

form {
    float: left;
}

footer {
    text-align: center;
    padding: 10px;

}