section {
    display: flex;
    flex-wrap: wrap;
}

.first {
    background-image: url("https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg");
    background-size: cover;
    width: 25%;
    height: 200px;
}

.first:hover {
    box-sizing: border-box;
    border: 3px solid red;
}

.inside {
    width: 100%;
    height: 100%;
    font-size: 100px;
    background-color: rgba(255,255,255, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.first:hover .inside {
    display: flex;
}